* {
  outline: none;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #9e3131;
}

header {
  width: 100%;
  height: 50px;
  background-color: #702323;
  color: #fff;
  text-align: center;
  padding: 6px;
}

div.container {
  position: relative;
  min-height: 500px;
}

table,
div.endgame,
button.replay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  top: 38%;
}

tr td {
  border-color: #fff;
  color: #fff;
}

table tr:first-child td {
  border-top: none;
}

table tr td:first-child {
  border-left: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:last-child {
  border-right: none;
}

td {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 3em;
}

div.endgame {
  display: none;
  top: 38%;
  background-color: #931212;
  width: 200px;
  color: #fff;
  padding: 50px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
}

button.replay {
  top: 77%;
  padding: 13px;
  width: 124px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #931212;
  color: #fff;
  font-size: 1.5em;
  transition: .7s ease;
}

button.replay:hover {
  background-color: #771010;
}

@media only screen and (min-width: 768px) {
  table {
    top: 44%;
  }
  div.endgame {
    top: 44%;
  }
  button.replay {
    top: 82%;
  }
}